#sorta{
background-color: wheat;
}
#clani a{
color: black;
text-decoration: none;	
}

.zdrav:hover{
font-size: 130%;
background-color:maroon; 
color:white	
}
#okro:hover {
	font-size: 130%;
	background-color:blue; 
	color:yellow
	}
	