#clani{
background-color:: wheat;
}
#clani a{
color: black;
text-decoration: none;	
}
#clani a.zdrav:hover{
font-size: 130%;
background-color:maroon; 
color:white	
}
#clani a.okro:hover {
	font-size: 130%;
	background-color:blue; 
	color:yellow
	}

#glava1{
	background-color: wheat;

}

#glava1 a.obarvaj:hover {
	background-color:maroon; color:white;
	}


#sos{
    background: #ffff08;
	color:#FFFF80;
	/*max-width:2000px;*/
	hight: 30px;
    position:absolute;
	top:0px;
}

#cela{
	max-width:2000px;
        position:absolute;
	top:40px;	
}

#nav{
	max-width:150px;
        position:absolute;
	top:40px;	
}

#vsebina{
	min-width:1000px;
	position:relative;
	top:40px;
	bottom:0px;
	left:160px;
}

#links{
	color:#FFFF80;
}
#links li{
	background: #4444FF;

	margin-top:20px;
	margin-bottom:20px;
	
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#links a{
	display:block;
	padding:15px;
	color:#FFFF80;
}

.obarvaj{

  color: #ffffff;
  background: #990066;
  padding: 0.1cm;

  font-size:80%;
  position:relative;
left:+40px;


}
.obarvaj:visited {
	color: #ffffff
	}
.obarvaj:hover {
	font-size: 100%;background-color: #780000
	}
.akce{
  color: #ffffff;
  background: #190088;
  padding: 0.1cm;

  font-size:80%;
  position:relative;
left:+10px;
}
.akce:visited {
	color: #ffffff
	}
.akce:hover {
	background-color: #00ff00
	}

.izbira{
	color: #FFFF80;
   background: #4444FF;
   display:block;
  padding: 0.2cm;
  font-size:80%;
}
.izbira:visited {
	color: #ffffff
	}
.izbira:hover {
	font-size: 110%;background-color: #780000
	}